- if session["event_type"] == "Plenary"
  .row.time
    .fourteen.columns
      = session["time"]
  .row.talks
    - session["events"].each do |talk|
      - id = "#{talk["speaker"].downcase.tr(' ', '_').tr('&','n') if talk["speaker"] }"
      .fourteen.columns.talk{id: "#{id}"}
        .room= talk["place"]
        .title= link_to talk["event"]
        .speaker= talk["speaker"]
        - if current_user
          - if current_user.check_id id
            = link_to '/',  class: 'remove label danger', "data-talk" => "#{id}", "data-time" => "#{session["time"]}", "data-type" => "#{session["event_type"]}", "data-day" => "#{day}"  do
              Remove
          - else
            = link_to '/',  class: 'add label secondary', "data-talk" => "#{id}", "data-time" => "#{session["time"]}", "data-type" => "#{session["event_type"]}", "data-day" => "#{day}"  do
              Add


- if session["event_type"] == 'Session'
  .row.time
    .fourteen.columns
      = session["time"]

  .sixteen.colgrid
    .row.talks
      - session["events"].each do |talk|
        - id = "#{talk["speaker"].downcase.tr(' ', '_').tr('&','n') if talk["speaker"] }"
        .four.columns.talk{id: "#{id}"}
          .room= talk["place"]
          .title= link_to talk["event"]
          .speaker= talk["speaker"]
          - if current_user
            - if current_user.check_id id
              = link_to '/',  class: 'remove label danger', "data-talk" => "#{id}", "data-time" => "#{session["time"]}", "data-type" => "#{session["event_type"]}", "data-day" => "#{day}"  do
                Remove
            - else
              = link_to '/',  class: 'add label secondary', "data-talk" => "#{id}", "data-time" => "#{session["time"]}", "data-type" => "#{session["event_type"]}", "data-day" => "#{day}"  do
                Add

- if session["event_type"] == "Lunch" || session["event_type"] == "Break" || session["event_type"] == "Party"
  .row.time
    .fourteen.columns
      = session["time"]
  - session["events"].each do |talk|
    .row.talks
      .fourteen.columns.talk
        .title= talk["event"]
