- keynote_time = day == 'thu' ? '10:30am-11:10am': '10:00am-11:15am'
.row.time
  .fourteen.columns= keynote_time
- day_talks.where(time: keynote_time).each do |talk|
  - id = talk_id talk.speaker, talk.event
  .row.talks{ class: "my_#{id}"}
    .fourteen.columns.talk{id: "#{id}"}
      .room= talk.room
      .title= link_to talk.event
      .speaker= talk.speaker
      = link_to '/',  class: 'remove label danger', "data-talk" => "#{id}", "data-time" => "#{talk.time}", "data-type" => "#{talk.event_type}", "data-day" => "#{day}"  do
        Remove

- normal = ['11:30am-12:10pm', '12:20pm- 1:00pm', '1:00pm- 2:00pm', '2:00pm- 2:40pm', '2:50pm- 3:30pm', '3:30pm- 4:00pm', '4:00pm- 4:40pm', '4:50pm- 5:30pm', '5:45pm- 7:00pm']
- wednesday = ['11:30am-12:10pm', '12:20pm- 1:00pm', '1:00pm- 2:00pm', '2:00pm- 2:40pm', '2:50pm- 3:30pm', '3:30pm- 4:00pm', '4:00pm- 5:30pm', '5:45pm- 6:30pm '] 
- thuesday = ['11:20am-12:00pm', '12:00pm- 2:00pm', '2:00pm- 3:30pm', '3:30pm- 4:30pm']
- day_times = normal
- day_times = wednesday if day == 'wed' 
- day_times = thuesday if day == 'thu' 
- day_times.each do |time|
  .row.time
    .fourteen.columns= time
  - if day_talks.where(time: time).empty?
    .sixteen.colgrid
      .row.talks
        .four.columns.talk
          .title You haven't select anything for this period.
  - else
    - day_talks.where(time: time).each do |talk|
      - id = talk_id talk.speaker, talk.event
      .sixteen.colgrid{class: "my_#{id}"}
        .row.talks
          .four.columns.talk{id: "#{id}"}
            .room= talk.room
            .title= link_to talk.event
            .speaker= talk.speaker
            = link_to '/', class: 'remove label danger', "data-talk" => "#{id}", "data-time" => "#{talk.time}", "data-type" => "#{talk.event_type}", "data-day" => "#{day}" do
              Remove



/ - if row.event_type == "Plenary"
/   - id = row.speaker.downcase.tr(' ', '_').tr('&','n') if row.speaker 
/   .row.time{ class: "my_#{id}"}
/     .fourteen.columns
/       = row["time"]
/   .row.talks{ class: "my_#{id}"}
/     .fourteen.columns.talk{id: "#{id}"}
/       .room= row.room
/       .title= link_to row.event
/       .speaker= row.speaker
/       = link_to '/',  class: 'remove label danger', "data-talk" => "#{id}", "data-time" => "#{row.time}", "data-type" => "#{row.event_type}", "data-day" => "#{day}"  do
/         Remove

/ - if row.event_type == 'Session'
/   - id = row.speaker.downcase.tr(' ', '_').tr('&','n') if row.speaker 
/   .row.time{class: "my_#{id}"}
/     .fourteen.columns
/       = row.time

/   .sixteen.colgrid{class: "my_#{id}"}
/     .row.talks
/       .four.columns.talk{id: "#{id}"}
/         .room= row.room
/         .title= link_to row.event
/         .speaker= row.speaker
/         = link_to '/', class: 'remove label danger', "data-talk" => "#{id}", "data-time" => "#{row.time}", "data-type" => "#{row.event_type}", "data-day" => "#{day}" do
/           Remove
