!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1", :name => "viewport"}/
    %title Railsconf 2013 Schedule
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag :modernizr
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      = render 'partials/navigation'
      .container
        - if flash[:notice]
          .row
            .fourteen.columns
            .alert.success= flash[:notice]
        .row
          .fourteen.columns
          #done.alert.success.hide
          #error.alert.danger.hide

      = yield
    #push
    %footer
      %a{:href => "http://www.crowdint.com"}
        = image_tag 'logo-crowd.svg', class: 'pull-left'
      %p.pull-left
        Powered by Crowd Interactive
      .clearfix
