!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1", :name => "viewport"}/
    %title Railsconf 2013 Schedule
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag :modernizr
    = javascript_include_tag "application"
    = render 'analytics'
    = csrf_meta_tags
  %body
    #wrapper
      = render 'partials/navigation'
      .container
        .row
          .fourteen.columns
            .alert.danger 
              %p 
                RailsConf has changed the schedule later tonite (04/28), be sure to review your selection before go to any session, I'm working in update this app as fast as I can.
            .alert.default
              %p
                You can find the repo 
                = link_to 'here', 'https://github.com/hecbuma/railsconf', target: "_blank"
                feel free to submit your pull request to make this app better.
              

        - if flash[:notice]
          .row
            .fourteen.columns
            .alert.success= flash[:notice]
        .row
          .fourteen.columns
          #done.alert.success.hide
          #error.alert.danger.hide

      = yield
    #push
    %footer
      %a{:href => "http://www.crowdint.com"}
        = image_tag 'logo-crowd.svg', class: 'pull-left'
      %p.pull-left
        Powered by Crowd Interactive
      .clearfix
